<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Login page</title>
<meta charset="utf-8" />
<link rel="stylesheet" th:href="@{/stylesheet/style.css}" />
</head>
<body>
	<h1>Login page</h1>
	<p>Example user: user1 / password1</p>
	<p th:if="${loginError}" class="error">Wrong user or password</p>
	<form th:action="@{/login}" method="post">

		<table>
			<tbody>
				<tr>
					<td><label for="username">Username</label>:</td>
					<td><input type="text" id="username" name="username" autofocus="autofocus" /></td>
				</tr>
				<tr>
					<td><label for="password">Password</label>:</td>
					<td><input type="password" id="password" name="password" /></td>
				</tr>
				<tr><td colspan="2"><button type="submit">Login</button></td></tr>
			</tbody>
		</table>
	</form>
	<p>
		没有账号？<a th:href="@{/register}">创建一个</a>
	</p>
</body>
</html>
